
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-droplet:before { content: '\e801'; } /* '' */
.icon-lightbulb:before { content: '\e802'; } /* '' */
.icon-trash:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-trash-1:before { content: '\e806'; } /* '' */
.icon-recycle:before { content: '\f1b8'; } /* '' */
.icon-tree:before { content: '\f1bb'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
.icon-envira:before { content: '\f299'; } /* '' */
